label {
  font-weight: var(--font-semibold);
  color: var(--label-color  );
}
input {
  height: 53px;
  width: 316px;
  border-radius: 6px;
  border: 1px solid var(--secondary-color);
  padding-left: 16px;
  background-color: #fbfcff;
}

.wifi-form {
  border: 1px solid #7777;
  border-radius: 10px;
  padding: 32px;
  width: 720px;
}
.form-group {
  display: flex;
  justify-content: space-between;
}
label,
input {
  display: flex;
  flex-direction: column;
}
.title {
    padding-bottom: 20px;
}
